.std{
  background: url(../images/bg-pattern.png);

}
.std .row .col-md-6{
  margin-bottom: 32px;
}
.std .row .col-md-6 h3{
  font-weight: bold;
  margin-bottom: 32px;
}

.customer{
    /* background: #f5f5f5; */
    padding: 15px;
}
.customer h3{
  font-weight: bold;
}
.customer .well a{
  display: inline-block;
  border:6px solid #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  position: relative;
}
.customer .well a.a11:before,.customer .well a.a33:before{
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-left-color: #fff;
  top: 50%;
  right: -15px;
  margin-top: -11px;
  border-width: 11px;
  border-right-width: 0;

}

.customer .well a.a22:before{
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: 50%;
  left: -25px;
  border-right-color: #fff;
  border-left-width: 0;
  border-width: 10px;
}
.well{
  border: none;
  background-color: transparent;
}
.row .service p.p_style_4 span{
  width: 100%;
}
.banner-style{
  border:6px solid #fff;
}
.login-dangerous{
  background: url(../images/bg-noise.jpg);
  color: #fff;
}
.login-dangerous{
  /* position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;*/
  display: none; 
  padding: 15px;
}
.login-dangerous textarea{
  width: 100%;
}
.closeBtn span{
  padding: 15px;
}
.lm_signup{
  width: 80px!important;
  background: transparent;
  border: 1px solid #ffffff!important;
  margin-right: 12px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}
.lm_signup:hover{
  background: #fff;
}
