/*
* @Author: Administrator
* @Date:   2019-10-15 14:48:51
* @Last Modified by:   Administrator
* @Last Modified time: 2019-10-15 14:49:09
*/
.icon {
width: 1em; height: 1em;
vertical-align: -0.15em;
fill: currentColor;
overflow: hidden;
}